.btn {
  position: relative;
  font-family: inherit;
  display: block;
  max-width: 100%;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  outline: 0;
  border: 0;
  border: 1px solid transparent;
  &--white {
    color: $dark-grey;
    transition: all 0.3s;

    &:hover {
      color: #fff;
      background-color: $dark-grey;
      border: 1px solid $dull-orange;
    }
  }

  &--dark {
    color: #fff;
    background-color: $dark-grey;
    transition: all 0.3s;
    border: 1px solid transparent;
    &:hover {
      color: $dark-grey;
      background-color: $white;
      border: 1px solid $dull-orange;
    }
  }
}
