.motto {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $white;
  &::before {
    content: "";
    @include orangeBlock;
    top: 40px;
    left: 50%;
    margin-bottom: 50px;
  }
  &__container {
    background-color: #fff;
    min-height: 568px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__heading {
    font-weight: 700;
    line-height: 1.4;
    font-size: 96px;
    color: $dark-grey;
    text-align: center;
  }
  &__img {
    display: block;
    filter: brightness(0.9);
    background-size: 100% 100%;
  }
}

@media (max-width: 1090px) {
  .motto {
    &__heading {
      font-size: 70px;
      line-height: 1.4;
    }
  }
}

@media (max-width: 670px) {
  .motto {
    &__container {
      min-height: 400px;
    }
    &::before {
      top: 70px;
    }
    &__heading {
      font-size: 38px;
    }
  }
}

@media (max-width: 360px) {
  .motto {
    &__heading {
      font-size: 32px;
    }
  }
}
