/* styles for slider max-height 800px*/

.slider__horizontal {
  max-height: 274px;
}

/*show block on toggle */
.shown {
  display: block;
  transition: all 1.8s;
  transform: translateY(-5px);
}

/*hide block on toggle */
.hide {
  display: none;
}

/* mixins */
@mixin orangeBlock {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 8px;
  width: 42px;
  background-color: $dull-orange;
  z-index: 20;
}

